// Here you can add other styles
// 顶部
$G_back:#181818;
$top_back:#202020;
$top_viceback:#494A4C;
$header_size:#FFFFFF;
//左侧栏
$sidebar_back:#0C0C0C;
$sidebar_size:#B7B7B7;
//实时播放页面
$liveview_lback:#2D2D2D;
//组件
//收缩
$collapse_header:#292929;
$collapse_size:#FFFFFF;
.c-app.c-dark-theme{
    //设备页面
    .Dashboard_Device{
        .container_co{
            .container{
                background-color: #2C2C2C;
            }
        }
    }
    .c-body{
        &::-webkit-scrollbar {/*滚动条整体样式*/
            width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 8px;
            scrollbar-arrow-color:red;
        }
        &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            background: rgba(218, 218, 218,0.2);
            scrollbar-arrow-color:red;
        }
        &::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            border-radius: 0;
            background: rgba(218, 218, 218,0.1);
        }
    }
    background-color: $G_back;
    //左侧栏
    .c-sidebar{
        background-color: $sidebar_back;
        .el-menu{
            border: none;
            .el-menu-item{
                color: $sidebar_size;
                i{
                    margin-left: 15%;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
            .el-menu-item.is-active{
                color: #FFFFFF !important;
                background-color: $top_back!important;
                border-right: 2px solid #1DD3FA;
            }
        }
        .el-input__inner{
            background: #4A4A4C!important;
            color:rgba(255,255,255,1)!important;
        }
    }
    // 顶部
    .c-header{
        background-color: $top_back;
        color: $header_size;
        .btn{
            color: $header_size;
        }
        .c-header-nav-btn{
            color: $header_size;
        }
        .c-subheader{
            background-color: $top_viceback;
            border: none;
        }
    }
    //实时播放页面
    .liveview{
        .liveview_left{
            background-color: $liveview_lback;
            .el-input__inner{ //输入框
                background-color:#4A4A4C !important;
                border: none;
                border-radius: 30px;
            }
            .liveview_colltitle{
                display: flex;
                .liveview_titleicon{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleicon.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
                .liveview_titleicon1{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleicon1.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
                .liveview_titleicon2{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleicon2.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
            }
        }
        .liveview_right{
            .videoColor {
                background-color: #222222;
                .palace{
                    background-size: 10%;
                    flex: 1 1 10%;
                    border:1px solid black;
                }

            }
            .liveview_group{
                .liveview_function{
                    .el-input__inner{
                        background: none;
                        border: 1px solid #9A9A9A;
                    }
                }
                button{
                    padding: 0;
                    color: #999999;
                }
                
                .liveview_butt{
                    button{
                        padding: 0;
                        color: #999999;
                        border: none;
                        background: none;
                        color: #999999;
                        font-size: 30px;
                    }
                }
                .liveview_butts{
                    button{
                        padding: 0;
                        color: #999999;
                        border: none;
                        background: none;
                        color: #999999;
                        font-size: 24px;
                    }
                }
            }
            .liveview_right_but{
                .form_butt{
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }
    .Aside{
        .c-sidebar{
            background-color: #2D2D2D;
            .c-sidebar-brand{
                background: none;
                .Aside_title{
                    color: #FFFFFF;
                    opacity: 0.4;
                }
            }
            .Aside_content_buttom{
                .liveview_left_input{
                    .el-input__inner{
                        width: 70%;
                        border: none;
                        background-color: #494A4C;
                        border-radius: 50px;
                        color: #ffffff;
                    }
                }
            }
            .up_you_but{
                & div:nth-child(2){
                    button{
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    //回放
    .playback{
        .playback_snap_zuo{
            background-color: #2D2D2D;
            overflow: auto;
            &::-webkit-scrollbar {/*滚动条整体样式*/
                width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
                height: 8px;
                scrollbar-arrow-color:red;
            }
            &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                background: rgba(218, 218, 218,0.2);
                scrollbar-arrow-color:red;
            }
            &::-webkit-scrollbar-track {/*滚动条里面轨道*/
                -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                border-radius: 0;
                background: rgba(218, 218, 218,0.1);
            }
            .snap_zuo_input{
                padding: 10px 10px;
                .el-input__inner{
                    background: #333333;
                    border: none;
                    border-radius: 30px;
                }
            }
            .snap_zuo_title{
                background: #292929;
            }
        }
        //上传
        .playback_snap_zuoupload{
            background-color: #222222;
        }
        .playback_snap_you{
            background-color: #202020;
            .el-input__inner{
                background: none;
                border: 1px solid #999999;
                height: 30px;
                line-height: 30px;
            }
            .el-input__icon{
                line-height: 30px;
            }
            .snap_you_topbutt{
                .snap_you_topbutt1{
                    background: #3ABBFE;
                    border: none;
                    color: #FFFFFF;
                    padding: 8px 20px;
                }
                .snap_you_topbutt2{
                    background: none;
                    border: 1px solid #3ABBFE;
                    color: #FFFFFF;
                    padding: 7px 20px;
                }
            }
            .snap_you_bottom{
                background: none;
                .button_edi button{
                    color: $header_size;
                }
                .snap_you_lable_butt{
                    button{
                        color: $header_size;
                    }
                }
            }
            .tab{
                .mode_Choice{
                    .back_Choice{
                        .back_Choice1{
                            color: RGBA(242, 241, 241, 0.8);
                            background:rgba(0,0,0,0.8);
                        }
                        .back_zi{
                            color:#B2B1B1;
                        }
                    }
                }
                .function_butt{
                    .fixed_input{
                        .el-input__inner{
                            color: #3ABBFE !important;
                        }
                    }
                    .button_resume{
                        color: $header_size;
                    }
                    .layout1x1 {
                        border: none;
                        background: none;
                        background: url('~@/views/liveview/imgs/liveview_1.png') center;
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                    .layout2x2 {
                        border: none;
                        background: none;
                        background: url('~@/views/liveview/imgs/liveview_4.png') center;
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                    .layoutfull {
                        background: url('~@/views/liveview/imgs/liveview_full.png') center;
                        background-repeat: no-repeat;
                        background-size: 20px 20px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                }
            }
            .content_name{
                color: $header_size;
            }
            .up_you_but{
                
                & div:nth-child(2){
                    button{
                        color: #FFFFFF;
                    }
                }
            }
                    
        }
        .dasboard_modal{
            .el-select.el-select--mini{
                .el-input__inner{
                    background: none !important;
                }
            }
            .el-slider__runway{
                margin: 0;
            }
        }
    }
    //区域
    .Region{
        padding: 0 10px;
        .Root_node1{
            .but_add{
                color: #FFF;
            }
        }
    }
    //地图
    .Map{
        //弹出框
        .el-dialog{
            border-radius: 5px;
            margin-top: 18vh !important;
            .el-dialog__body{
                padding: 10px 5px;
                color: $header_size;
            }
            .el-form-item__label{
                color: #FFFFFF;
            }
        }
        .el_tree .el-tree-node__content{
            min-height: 24px;
            height: auto;
        }
        .Map_Region{
            .el-collapse{
                min-width: 240px;
                .el-collapse-item__header{
                    background-color: RGBA(0, 0, 0, 0.8);
                }
                .el-collapse-item__wrap{
                    padding: 5px 10px;
                    height: 400px;
                    background: RGBA(0, 0, 0, 0.8);
                    border-bottom: none;
                    overflow-y: auto;
                    // &::-webkit-scrollbar{
                    //     display: none;
                    // }
                    &::-webkit-scrollbar {/*滚动条整体样式*/
                        width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
                        height: 8px;
                        scrollbar-arrow-color:red;
                    }
                    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                        border-radius: 5px;
                        -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        background: rgba(218, 218, 218,0.2);
                        scrollbar-arrow-color:red;
                    }
                    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
                        -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        border-radius: 0;
                        background: rgba(218, 218, 218,0.1);
                    }
                    .liveview_left_input{
                        .el-input__inner{
                            background-color: RGBA(0, 0, 0, 0.7) !important;
                            color: #ffffff;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .Map_manag{
        .Map_edi{
            button{
                color: #FFFFFF;
            }
        }
    }
    //选项卡
    .top_el_menu{
        .el-menu.el-menu--horizontal{
            border: none;
            .el-menu-item{
                height: auto;
                border: none;
                line-height:35px;
                border-top: 2px solid #1F6678;
                &.is-active{
                border: none;
                border-top: 2px solid #26B4FC;
                background-color: #181818 !important;
                }
            }
        }
    }
    //设置
    .Setting{
        .setting_zuo{
            width: 16%;
            height: 91vh;
            // overflow-y: auto;
            .el-menu{
                border: none;
                .el-submenu{
                    .el-menu-item{
                        &.is-active {
                            border: none;
                            .Setting_tree{
                                padding-right: 50px;
                                border-right: 2px solid #2E9EFB;
                            }
                            color: #FFFFFF;
                        }
                        
                    }
                }
            }
        }
    }
    //批量下载
    .BatchImport{
        .BatchImport_flex{
            .BatchImport_title{
                color: #FFFFFF;
            }
            .el-input{
                width: 100%;
                text-align: right;
                margin-bottom: 30px;
                .el-input__inner{
                    border: 1px solid #D4D4D4;
                }
                .el-input-group__append{
                    
                    background: none;
                    border: 1px solid #D4D4D4;
                    .el-button{
                        color: #BABABA;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    //顶部关于弹窗
    & ~ .plugin_adout{
        .el-dialog{
            background: url('~@/assets/imgs/Header_on.png') center no-repeat;
            min-height: 326px;
            background-size: 100%;
            .el-dialog__body{
                .about_flex{
                    min-height: 226px;
                    text-align: center;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    div{
                        width: 100%;
                    }
                    .adout_img{
                        width: 320px;
                        height: 60px;
                    }
                }
            }
        }
    }



    // 组件
    //铃铛
    .el-badge{
        .el-badge__content{
            border: none;
        }
    }
    //顶部下拉
    .dropdown-menu {
        border: none;
        background-color: #2D2D2D;
        .dropdown-item:hover{
            background-color: #3a3a3a;
        }
    }
    //input框
    .el-input__inner{
        background: none!important;
        color:rgba(255,255,255,1)!important;
    }
    //弹出框
    .el-dialog{
        width: 25%;
        max-height: 800px;
        overflow-y: auto;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        &::-webkit-scrollbar {/*滚动条整体样式*/
            width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 8px;
            scrollbar-arrow-color:red;
        }
        &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            background: rgba(218, 218, 218,0.2);
            scrollbar-arrow-color:red;
        }
        &::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
            border-radius: 0;
            background: rgba(218, 218, 218,0.1);
        }
        background-color: $top_back;
        .el-dialog__header{
            .el-dialog__title{
                color: $header_size;
            }
        }
        .el-dialog__body{
            color: $header_size;
        }
        .el-form-item__label{
            color: #FFFFFF;
        }
    }
    // 表格
    .el-table {
        min-height: 80vh;
        background: none;
        border: none;
        .el-input{
            .el-input__inner{
                background: #3c3c3c!important;
                border: none;
                border-radius: 50px;
            }
        }
        .el-checkbox__inner{
            background-color: #494B4E !important;
            border-radius: 50px !important;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
            background-color: #3277FF !important;
            border-color: rgba(255,255,255,1) !important;
        }
        .el-table__empty-block{
            background: none{
                repeat:no-repeat;
                position:center
            }
            // background-image: url('~@/assets/imgs/setting_tober1.png');
            background-size: 10%;
        }
        .el-table__header th, .el-table__header tr{
            background-color: #202020 !important;
        }
        .el-table__body tr.el-table__row--striped td {
            background: #202020 !important;
        }
        .el-table__body tr:hover>td {
            background:none!important;
          }
        .el-table__body tr.hover-row>td{
            background-color: #252525!important;
        }
        & td, & th.is-leaf {
            color:rgba(255,255,255,1);
            border: none!important;
        }
        & th, & tr{
            background: none;
        }
    }
    /* 分页 */
    .el-pagination {
        li{
            background: none!important;
            color: #FFFFFF;
        }
        .el-pager li.active {
            color: #409EFF;
        }
        button{
            background: none!important;
            color: #FFFFFF!important;
        }
    }
    //收缩
    .el-collapse{
        border: none;
        background: none;
        .el-collapse-item__header{
            color: $collapse_size;
            background-color: $collapse_header;
            border: none;
            padding: 0 7px;
            font-size: 15px;
        }
        .el-collapse-item__wrap{
            background: none;
            border-bottom: none;
            .el-collapse-item__content{
                color: $collapse_size;
                &::-webkit-scrollbar {/*滚动条整体样式*/
                    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
                    height: 8px;
                    scrollbar-arrow-color:red;
                }
                &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                    border-radius: 5px;
                    -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                    box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                    background: rgba(218, 218, 218,0.2);
                    scrollbar-arrow-color:red;
                }
                &::-webkit-scrollbar-track {/*滚动条里面轨道*/
                    -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                    box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                    border-radius: 0;
                    background: rgba(218, 218, 218,0.1);
                }
            }
        }
    }
    //树形
    .el-tree{
        background: none !important;
        color: $collapse_size;
        font-size: 14px;
        .el-tree-node{
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .el-tree-node.is-current>.el-tree-node__content{
            background: none !important;
            color: #3ABBFE;
            width: 100%;
        }
        .el-tree-node__content{
            background: none !important;
            &:hover{
                background: none !important;
                color: #3ABBFE;
            }
        }
        .el-checkbox__inner{
            background-color: #494B4E !important;
            border-radius: 50px !important;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
            background-color: #3277FF !important;
            border-color: rgba(255,255,255,1) !important;
        }
    }
    //时间轴
    .el-timeline {
        .el-timeline-item{
            padding: 0;
            .el-timeline-item__tail {
                position: absolute;
                left: 4px;
                height: 100%;
                border-left: 2px solid #E4E7ED;
                margin-top: 7px;
            }
            .el-timeline-item__node--normal {
                left: -1px;
                width: 12px;
                height: 12px;
                margin-top: 7px;
            }
            .el-timeline-item__wrapper{
                .el-timeline-item__timestamp.is-top{
                    margin: 0;
                }
                .el-timeline-item__content{
                    .el-card{
                        border: 0px;
                        background: none;
                        .el-card__body{
                            display: block;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    //select下拉
    & ~ .el-select-dropdown.el-popper{
        background: #2D2D2D;
        border:none;
        .hover{
            background: #181818;
        }
        .popper__arrow{
            opacity: 0;
        }
    }
    //时间下拉
    & ~ .el-picker-panel{
        background-color: #181818 !important;
        border:none !important;
        color: #FFFFFF !important;
        .el-date-picker__time-header{
            color: #CDCDCD !important;
            .el-input__inner{
                background: none;
            }
        }
        .el-date-picker__header{
            .el-picker-panel__icon-btn{
                color: #CDCDCD !important;
            }
        }
        .el-picker-panel__footer{
            background-color: #181818 !important;
            border:none !important;
        }
        .el-picker-panel__footer .is-plain{
            background-color: #3277FF;
            border: none;
            color: #FFFFFF;
        }
        .el-select-dropdown__item.selected{
            background: #181818  !important;
            color: #3277FF !important;
        }
        
        .el-select-dropdown{
            background: #252525 !important;
            border: 1px solid #B5B5B5 !important;
        }
        .el-select-dropdown__item{
            color:rgba(255,255,255,1)!important;
        }
        .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
            background-color: #4F5255!important;
        }
    }
    & ~ .el-message-box__wrapper{
        top: -200px;
        .el-message-box{
            border: none;
            background-color: #2D2D2D;
            .el-message-box__header{
                .el-message-box__title{
                    color: #FFFFFF;
                }
            }
            .el-message-box__content{
                padding: 10px 25px;
                color: #FFFFFF;
            }
        }
    }
    & ~ .el-popover.el-popper{
        background-color: #494B4E;
        border: 0;
        color: #FFFFFF;
        .input-pin{
            .popover_Title{
                margin-bottom: 10px;
            }
            .el-input{
                .el-input__inner{
                    background: #3c3c3c!important;
                    border: none;
                    border-radius: 50px;
                    color: #FFF;
                }
            } 
            .form_butt{
                color: #FFF;
            }
        }
        .tour_region{
            .el-input__inner{
                background: none;
                border: 1px solid #9A9A9A;
                margin-bottom: 5px;
                color: #FFF;
            }
        }
        .el-popover__title{
            color: #FFFFFF;
        }
        .liveview_popover{
            .liveview_popover_top{
                div{
                    color: #FFFFFF;
                }
                .liveview_left_input{
                    .el-input__inner{
                        background-color: #3A3A3A;
                        color: #ffffff;
                    }
                }
            }
            .liveview_popover_but{
                button{
                    background: #3ABBFE;
                    color: #FFFFFF;
                }
            }
        }
        .popper__arrow{
            // border-top-color: #494B4E;
            border-right-color: #494B4E;
            &::after{
                border-right-color: #494B4E;
                // border-top-color: #494B4E;
            }
        }
    }
    //更多设置
    .GBService_active {
        #headswitch{
            .el-collapse-item__wrap{
                .el-collapse-item__content{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    .el-form-item{
                        width: 50%;
                        padding: 0 2px;
                    }
                }
            }
        }
    }
}