// Variable overrides
// 顶部
$G_back:#F2F1F1;
$top_back:#272727;
$header_size:#FFFFFF;
$top_viceback:#F7F7F7;
//左侧栏
$sidebar_back:#F5F5F5;
//实时播放
$liveview_lback:#FFFFFF;
//组件
$collapse_size:#000000;
$collapse_header:#E5E5E5;
.c-app{
    //设备页面
    .Dashboard_Device{
        .container_co{
            .container{
                background-color: #FFFFFF;
            }
        }
    }
    .Sidebar{  
        .c-sidebar{
            background-color: $sidebar_back;
            .c-sidebar-brand{
                background: none;
            }
            .el-menu{
                border: none;
                .el-menu-item{
                    color: #7A7A7A;
                    i{
                        margin-left: 15%;
                        margin-right: 10px;
                        font-size: 16px;
                    }
                }
                .el-menu-item.is-active{
                    color: #000000 !important;
                    background-color: #EFEFEF!important;
                    // border-right: 2px solid #1DD3FA;
                }
            }
        }
    }
    // 顶部
    .c-header{
        background-color: $top_back;
        color: #000000;
        .btn{
            color: $header_size;
        }
        .c-header-nav-btn{
            color: $header_size !important;
        }
        .c-subheader{
            background-color: $top_viceback;  
            border: none;
        }
    }
    //回放
    .playback{
        .playback_snap_zuo{
            background-color: #FFFFFF;
            overflow: auto;
            .snap_zuo_input{
                padding: 10px 10px;
                .el-input__inner{
                    background: #ECEDED;
                    border: none;
                    border-radius: 30px;
                }
            }
            .snap_zuo_title{
                background:#EFEFEF;
            }
        }
        .playback_snap_zuoupload{
            background-color: #494A4B;
        }
        .playback_snap_you{
            background-color: #FAFAFA;
            .el-input__inner{
                background: none;
                border: 1px solid #ECEDED;
                height: 30px;
                line-height: 30px;
            }
            .el-input__icon{
                line-height: 30px;
            }
            .snap_you_topbutt{
                .snap_you_topbutt1{
                    background: #3ABBFE;
                    border: none;
                    color: #FFFFFF;
                    padding: 8px 20px;
                }
                .snap_you_topbutt2{
                    background: none;
                    border: 1px solid #3ABBFE;
                    color: #000000;
                    padding: 7px 20px;
                }
            }
            .snap_you_bottom{
                background-color: #F2F1F1;
                .button_edi button{
                    color: $header_size;
                }
                .snap_you_lable_butt{
                    button{
                        color: #606266;
                    }
                }
            }
            .tab{
                .mode_Choice{
                    .back_Choice{
                        .back_Choice1{
                            color: RGBA(242, 241, 241, 0.8);
                            background:rgba(0,0,0,0.8);
                        }
                        .back_zi{
                            color:rgba(52, 52, 52, 1);
                        }
                    }
                }
                .function_butt{
                    .fixed_input{
                        .el-input__inner{
                            color: #3ABBFE !important;
                        }
                    }
                    .button_resume{
                        color: $top_back;
                    }
                    
                    .layout1x1 {
                        border: none;
                        background: none;
                        background: url('~@/views/liveview/imgs/liveview_1_bai.png') center;
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                    .layout2x2 {
                        border: none;
                        background: none;
                        background: url('~@/views/liveview/imgs/liveview_4_bai.png') center;
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                    .layoutfull {
                        background: url('~@/views/liveview/imgs/liveview_full_bai.png') center;
                        background-repeat: no-repeat;
                        background-size: 20px 20px;
                        color: #000;
                        height: 20px;
                        width: 20px;
                        padding: 0;
                    }
                }
            }
            .content_name{
                color: $header_size;
            }
            .up_you_but{
                
                & div:nth-child(2){
                    button{
                        color: #000;
                    }
                }
            }
                    
        }
        .dasboard_modal{
            .el-select.el-select--mini{
                .el-input__inner{
                    background: none !important;
                }
            }
            .el-slider__runway{
                margin: 0;
            }
        }
    }
    //实时播放页面
    .liveview{
        .liveview_left{
            background-color: $liveview_lback;
            .el-input__inner{ //输入框
                background-color:#ECEDED;
                border: none;
                border-radius: 30px;
            }
            .liveview_colltitle{
                display: flex;
                .liveview_titleicon{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleiconb.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
                .liveview_titleicon1{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleicon1b.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
                .liveview_titleicon2{
                    width: 35px;
                    height: 35px;
                    background: url("~@/views/liveview/imgs/liveview_titleicon2b.png") no-repeat;
                    background: {
                        size: 100%;
                        
                    };
                }
            }
        }
        .liveview_right{
            .videoColor {
                background-color: #494A4B;
                .palace{
                    border:1px solid #373737;
                }
            }
            .liveview_group{
                .liveview_function{
                    .el-input__inner{
                        // background: none;
                        border: 1px solid #9A9A9A;
                    }
                }
                button{
                    padding: 0;
                    color: #333333;
                }
                .liveview_butt{
                    button{
                        padding: 0;
                        border: none;
                        background: none;
                        color: #333333;
                        font-size: 30px;
                    }
                }
                .liveview_butts{
                    button{
                        padding: 0;
                        border: none;
                        background: none;
                        color: #333333;
                        font-size: 24px;
                    }
                }
            }
            .liveview_right_but{
                .form_butt{
                    color: #000000;
                    border: 1px solid #000000;
                }
            }
        }
    }
    .liveplay{
        // 音频
        .Audio_slider{
            .el-slider__runway{
                height: 4px;
                .el-slider__button-wrapper{
                    .el-slider__button{
                        width: 10px;
                        height: 10px;
                        border: 1px solid #409EFF;
                    }
                }
            }
        }
    }
    .Aside{
        .c-sidebar{
            .c-sidebar-brand{
                background: none;
                .Aside_title{
                    color: #000;
                    opacity: 0.4;
                }
            }
            .Aside_content_buttom{
                .liveview_left_input{
                    .el-input__inner{
                        width: 70%;
                        border: none;
                        background-color: #DBDBDB;
                        border-radius: 50px;
                        color: #ffffff;
                    }
                }
            }
        }
        .up_you_but{
            & div:nth-child(2){
                button{
                    color: #000;
                }
            }
        }
    }
    //区域
    .Region{
        .Root_node1{
            .but_add{
                color: #000;
            }
        }
        .tow_node{
            .Root_node{
                .deleteselectcam{
                    color:#000;
                }
                .Root_node_butt1{
                    color:#000;
                }
            }
        }
    }
    .Map{
        //弹出框
        .el-dialog{
            border-radius: 5px;
            margin-top: 18vh !important;
            .el-dialog__body{
                padding: 10px 5px;
                color: #000000;
            }
            .el-form-item__label{
                color: #FFFFFF;
            }
        }
        .el-tree{
            color: #FFFFFF;
        }
        .el_tree .el-tree-node__content{
            min-height: 24px;
            height: auto;
        }
        .Map_Region{
            .el-collapse{
                min-width: 240px;
                .el-collapse-item__header{
                    color: #FFFFFF;
                    background-color: RGBA(0, 0, 0, 0.7);
                }
                .el-collapse-item__wrap{
                    height: 400px;
                    background: RGBA(0, 0, 0, 0.7);
                    border-bottom: none;
                    overflow-y: auto;
                    // &::-webkit-scrollbar{
                    //     display: none;
                    // }
                    &::-webkit-scrollbar {/*滚动条整体样式*/
                        width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
                        height: 8px;
                        scrollbar-arrow-color:red;
                    }
                    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                        border-radius: 5px;
                        -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        background: rgba(218, 218, 218,0.2);
                        scrollbar-arrow-color:red;
                    }
                    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
                        -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        box-shadow: inset 0 0 5px rgba(218, 218, 218,0.2);
                        border-radius: 0;
                        background: rgba(218, 218, 218,0.1);
                    }
                    .liveview_left_input{
                        .el-input__inner{
                            background-color: RGBA(0, 0, 0, 0.7) !important;
                            color: #ffffff;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .Map_manag{
        .Map_edi{
            button{
                color: #000;
            }
        }
    }
    //批量下载
    .BatchImport{
        .BatchImport_flex{
            .el-collapse{
                .el-collapse-item__header{
                    background: none;
                    color:  rgba(58, 187, 254, 1);
                    i{
                        color: #000000;
                    }
                    .el-collapse-item__arrow{
                        margin: 0 0 0 10px;
                    }
                }
            }
            .BatchImport_title{
                color: #000000;
            }
            .BatchImport_butt{
                button{
                    color: #000;
                }
            }
        }
    }
    //集群管理
    .Cluster{
        .Cluster_block{
            .Cluster_block_title{
                color: #000000;
            }
            .Cluster_block_content{
                background-color: #FFFFFF;
                .Cluster_form{
                    .el-form-item{
                        .el-form-item__label{
                            color: #000000;
                        }
                        .el-form-item__content{
                            .el-input{
                                .el-input__inner{
                                    border: 1px solid #494A4C;
                                    color: #333333;
                                }
                            }
                        }
                    }
                }
            }
        }
        .Cluster_but{
            button{
                color: #FFFFFF;
            }
        }
    }
    //选项卡
    .top_el_menu{
        .el-menu.el-menu--horizontal{
            border: none;
            .el-menu-item{
                height: auto;
                border: none;
                line-height:35px;
                border-top: 2px solid #A2E0F9;
                &.is-active{
                    border: none;
                    border-top: 2px solid #26B4FC;
                    background-color: #FFFFFF !important;
                }
            }
        }
    }
    //设置协议
    .portcheck_input{
        .el-input__inner{
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
    //顶部关于弹窗
    & ~ .plugin_adout{
        .el-dialog{
            background: url('~@/assets/imgs/Header_on1.png') center no-repeat;
            min-height: 326px;
            background-size: 100%;
            .el-dialog__body{
                .about_flex{
                    min-height: 226px;
                    text-align: center;
                    color: #000000;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    div{
                        width: 100%;
                    }
                    .adout_img{
                        width: 320px;
                        height: 60px;
                    }
                }
            }
        }
    }
    //顶部重启弹窗
    & ~ .Rebootdialog{
        .el-dialog{
            background-color: #212121;
            .el-dialog__header{
                .el-dialog__title{
                    color: #FFFFFF;
                }
                .el-dialog__headerbtn{
                    color: #FFFFFF;
                }
            }
            .el-dialog__body{
                .Rebootdialog1{
                    color: #FFFFFF;
                }
            }
        }
    }
    //组件
    .el-timeline {
        .el-timeline-item{
            padding: 0;
            .el-timeline-item__tail {
                position: absolute;
                left: 4px;
                height: 100%;
                border-left: 2px solid #E4E7ED;
                margin-top: 7px;
            }
            .el-timeline-item__node--normal {
                left: -1px;
                width: 12px;
                height: 12px;
                margin-top: 7px;
            }
            .el-timeline-item__wrapper{
                .el-timeline-item__timestamp.is-top{
                    margin: 0;
                }
                .el-timeline-item__content{
                    .el-card{
                        border: 0px;
                        background: none;
                        .el-card__body{
                            display: block;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    //铃铛
    .el-badge{
        .el-badge__content{
            border: none;
        }
    }
    //收缩
    .el-collapse{
        border: none;
        background: none;
        .el-collapse-item__header{
            color: $collapse_size;
            background-color: $collapse_header;
            border: none;
            padding: 0 7px;
            font-size: 15px;
        }
        .el-collapse-item__wrap{
            background: none;
            border-bottom: none;
            .el-collapse-item__content{
                color: $collapse_size;

            }
        }
    }
    // 表格
    .el-table {
        min-height: 80vh;
        background: none;
        .el-table__empty-block{
            background: none{
                repeat:no-repeat;
                position:center
            }
            // background-image: url('~@/assets/imgs/setting_tober1.png');
            background-size: 10%;
        }
        .el-table__header th, .el-table__header tr{
            background-color: #DBDBDB !important;
            color: #000;
        }
    }
    /* 分页 */
    .el-pagination {
        li{
            background: none!important;
        }
        button{
            background: none!important;
        }
    }
    //树形
    .el-tree{
        background: none !important;
        color: $collapse_size;
        font-size: 14px;
        .el-tree-node.is-current>.el-tree-node__content{
            background: none !important;
            color: #3ABBFE;
            overflow: auto;
            width: 100%;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .el-tree-node__content{
            background: none !important;
            &:hover{
                background: none !important;
                color: #3ABBFE;
            }
        }
        .el-checkbox__inner{
            // background-color: #2E2E2E !important;
            border-radius: 50px !important;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
            background-color: #3277FF !important;
            border-color: rgba(255,255,255,1) !important;
        }
    }
}
