// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";
.c-app{
    background-color: #F2F1F1;
}
a{
    color: none;
    text-decoration:none;
}
// 顶部高
.c-header-nav{
    min-height: 40px;
}
.c-header-brand{
    min-height: 40px;
}
//顶部下拉原生组件
.dropdown-menu{
    min-width: 100px;
    .dropdown-item{
        min-width: 100px;
    }
}