// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";
//全局按钮
button:focus{
    outline: none !important;
}

/* 自制图标 为啦显示禁用的图标*/
.camera{
    text-decoration:line-through
}

.c-app{
    background-color: #F2F1F1;
}
a{
    color: none;
    text-decoration:none;
}
// 顶部高
.c-header-nav{
    min-height: 40px;
}
.c-header-brand{
    min-height: 40px;
}
//顶部下拉原生组件
.dropdown-menu{
    min-width: 100px;
    .dropdown-item{
        min-width: 100px;
    }
}
.button_table{
    button:nth-last-child(1){
        background:#3ABBFE;
        border-radius:2px;
        padding: 8px 16px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        margin-right: 20px;
        border-color: none;
    }
    button:nth-last-child(2){
        background:rgba(55,62,72,1);
        border:1px solid #3ABBFE;
        padding: 8px 16px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        box-sizing: border-box;
    }
}
.button_edi{
    margin-bottom: 10px;
    .form_butt{
        background:#3ABBFE;
        border-radius:2px;
        padding: 2px 16px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        margin-right: 20px;
        border-color: none;
    }
    .form_butt1{
        background:rgba(55,62,72,1);
        border:1px solid #3ABBFE;
        padding: 2px 16px;
        font-size:12px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        box-sizing: border-box;
    }
    
}