@font-face {
  font-family: "iconfont"; /* Project id 2028119 */
<<<<<<< HEAD
  src: url('iconfont.woff2?t=1631010282526') format('woff2'),
       url('iconfont.woff?t=1631010282526') format('woff'),
       url('iconfont.ttf?t=1631010282526') format('truetype');
=======
  src: url('iconfont.woff2?t=1629696204683') format('woff2'),
       url('iconfont.woff?t=1629696204683') format('woff'),
       url('iconfont.ttf?t=1629696204683') format('truetype');
>>>>>>> 3caee1adc2738f6119795c2ad5be32529502612c
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.icon-qietu16:before {
  content: "\e651";
}

.icon-qietu25:before {
=======
.icon-a-16qietu-01:before {
  content: "\e651";
}

.icon-a-25qietu-01:before {
>>>>>>> 3caee1adc2738f6119795c2ad5be32529502612c
  content: "\e655";
}

.icon-guobiao:before {
  content: "\e650";
}

.icon-jiankongdianliebiao:before {
  content: "\e64d";
}

.icon-jiqun:before {
  content: "\e60c";
}

.icon-jilian:before {
  content: "\e60e";
}

.icon-shezhi_guanli:before {
  content: "\e660";
}

.icon-transcode-management:before {
  content: "\e64e";
}

.icon-kehuduanpeizhi:before {
  content: "\e64c";
}

.icon-tuxing:before {
  content: "\e64b";
}

.icon-zhuji:before {
  content: "\e60a";
}

.icon-xiala:before {
  content: "\e60b";
}

.icon-ditu1:before {
  content: "\e68b";
}

.icon-kaishi:before {
  content: "\e652";
}

.icon-zanting1:before {
  content: "\e654";
}

.icon-jianzhu:before {
  content: "\e6c9";
}

.icon-shezhi1:before {
  content: "\e696";
}

.icon-shezhi11:before {
  content: "\e60d";
}

.icon-shebei:before {
  content: "\e792";
}

.icon-wenjianjiqun:before {
  content: "\e68d";
}

.icon-qianjin:before {
  content: "\e647";
}

.icon-jinggao:before {
  content: "\e6aa";
}

.icon-node:before {
  content: "\e646";
}

.icon-jingyin:before {
  content: "\e645";
}

.icon-mn_shengyin_fill:before {
  content: "\e602";
}

.icon-target-lock:before {
  content: "\e755";
}

.icon-ditu:before {
  content: "\e64a";
}

.icon-xianshi:before {
  content: "\e6b3";
}

.icon-jiankong1:before {
  content: "\e6a7";
}

.icon-fanhui:before {
  content: "\e644";
}

.icon-ceju:before {
  content: "\e7df";
}

.icon-jia:before {
  content: "\e642";
}

.icon-jian:before {
  content: "\e643";
}

.icon-shoucang:before {
  content: "\e63e";
}

.icon-box-select:before {
  content: "\e791";
}

.icon-sousuo:before {
  content: "\e641";
}

.icon-zanting:before {
  content: "\e662";
}

.icon-bofang2:before {
  content: "\e665";
}

.icon-duihao:before {
  content: "\e657";
}

.icon-jinyong:before {
  content: "\e658";
}

.icon-tubiao_huaban1fuben1:before {
  content: "\e62f";
}

.icon-tubiao_huaban1fuben21:before {
  content: "\e632";
}

.icon-tubiao_huaban1fuben51:before {
  content: "\e636";
}

.icon-tubiao_huaban1fuben71:before {
  content: "\e637";
}

.icon-tubiao_huaban1fuben41:before {
  content: "\e638";
}

.icon-tubiao_huaban1fuben8:before {
  content: "\e639";
}

.icon-tubiao_huaban1fuben61:before {
  content: "\e63a";
}

.icon-tubiao_huaban1fuben31:before {
  content: "\e63b";
}

.icon-tubiao_huaban11:before {
  content: "\e63c";
}

.icon-shijian-:before {
  content: "\e62d";
}

.icon-light-open:before {
  content: "\e630";
}

.icon-light-close:before {
  content: "\e631";
}

.icon-guanyushua:before {
  content: "\e67c";
}

.icon-kaiyushua:before {
  content: "\e681";
}

.icon-daoru:before {
  content: "\e673";
}

.icon-daochu:before {
  content: "\e6d8";
}

.icon-tubiao_huaban1fuben81:before {
  content: "\e62e";
}

.icon-fuzhi:before {
  content: "\e6e9";
}

.icon-tubiao_huaban1fuben9:before {
  content: "\e619";
}

.icon-tubiao_huaban1fuben7:before {
  content: "\e61a";
}

.icon-tubiao_huaban1fuben6:before {
  content: "\e61c";
}

.icon-tubiao_huaban1fuben5:before {
  content: "\e61e";
}

.icon-tubiao_huaban1fuben4:before {
  content: "\e622";
}

.icon-tubiao_huaban1fuben3:before {
  content: "\e625";
}

.icon-tubiao_huaban1fuben2:before {
  content: "\e627";
}

.icon-tubiao_huaban1fuben:before {
  content: "\e628";
}

.icon-tubiao_huaban1:before {
  content: "\e62c";
}

.icon-jiang-right:before {
  content: "\e609";
}

.icon-ashbin:before {
  content: "\e744";
}

.icon-add:before {
  content: "\e742";
}

.icon-liuliang:before {
  content: "\e653";
}

.icon-wenjianjia:before {
  content: "\e666";
}

.icon-huanfu:before {
  content: "\e694";
}

.icon-Daytimemode-fill:before {
  content: "\e77c";
}

.icon-nightmode-fill:before {
  content: "\e784";
}

.icon-prompt:before {
  content: "\e75e";
}

.icon-zhongqi:before {
  content: "\e61d";
}

.icon-category:before {
  content: "\e747";
}

.icon-hanbaobao:before {
  content: "\e66a";
}

.icon-xieyi:before {
  content: "\111";
}

.icon-zantingtingzhi:before {
  content: "\e675";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-guiding:before {
  content: "\e76a";
}

.icon-play:before {
  content: "\e701";
}

.icon-download:before {
  content: "\e74d";
}

.icon-rizhi:before {
  content: "\e633";
}

.icon-xitongweihu:before {
  content: "\e741";
}

.icon-suozi:before {
  content: "\e63d";
}

.icon-RectangleCopy1:before {
  content: "\e6a9";
}

.icon-icon-test1:before {
  content: "\e63f";
}

.icon-jujiao1:before {
  content: "\e615";
}

.icon-jujiao2:before {
  content: "\e617";
}

.icon-guangquanjian:before {
  content: "\e6e8";
}

.icon-guangquanjia:before {
  content: "\e6ea";
}

.icon-add-focus:before {
  content: "\e76f";
}

.icon-reduce-focus:before {
  content: "\e770";
}

.icon-voicefill1:before {
  content: "\e614";
}

.icon-kaiqishexiangtou1:before {
  content: "\e613";
}

.icon-kaiqishexiangtou:before {
  content: "\e67b";
}

.icon-shitu:before {
  content: "\e616";
}

.icon-quyu:before {
  content: "\e648";
}

.icon-zhongmingming:before {
  content: "\e64f";
}

.icon-cejiantou2:before {
  content: "\e9d2";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-baocun:before {
  content: "\e603";
}

.icon-refresh:before {
  content: "\e604";
}

.icon-shipin1:before {
  content: "\e649";
}

.icon-shezhi:before {
  content: "\e620";
}

.icon-sigongge:before {
  content: "\e62a";
}

.icon-shipinhuiyi3:before {
  content: "\e663";
}

.icon-yun:before {
  content: "\e623";
}

.icon-shipin:before {
  content: "\e62b";
}

.icon-pengyouquan:before {
  content: "\e601";
}

.icon-bofang1:before {
  content: "\e6d6";
}

.icon-jiankong:before {
  content: "\e669";
}

.icon-wendang:before {
  content: "\e664";
}

.icon-11111-copy:before {
  content: "\e611";
}

.icon-bofang:before {
  content: "\e618";
}

.icon-icon-test:before {
  content: "\e695";
}

.icon-shuliang:before {
  content: "\e626";
}

.icon-shaixuan:before {
  content: "\e640";
}

.icon-rili:before {
  content: "\e600";
}

.icon-yuyintonghua:before {
  content: "\e61f";
}

.icon-shipintonghua:before {
  content: "\e61b";
}

.icon-yonghuming:before {
  content: "\e610";
}

.icon-lingdang:before {
  content: "\e65f";
}

.icon-yuntai:before {
  content: "\e60f";
}

.icon-gengduo:before {
  content: "\e674";
}

.icon-fullscreen:before {
  content: "\e607";
}

.icon-camerafill:before {
  content: "\e605";
}

.icon-full:before {
  content: "\e612";
}

.icon-picfill:before {
  content: "\e621";
}

.icon-radioboxfill:before {
  content: "\e624";
}

.icon-roundclosefill:before {
  content: "\e629";
}

.icon-voicefill:before {
  content: "\e634";
}

.icon-videofill:before {
  content: "\e635";
}

.icon-erweima1:before {
  content: "\e606";
}

.icon-guanbi7-01copy:before {
  content: "\e6a2";
}

